@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.body{
      font-family: "Work Sans", sans-serif;
      margin: 0;
}

.dark2{
    color: #424242;
}

.dark3{
    color: #727272;
}.text-primary{
    color: #FF900E;
}
  
.btn-primary{
    color: white;
    background-color: #FF900E;
    padding: 20px 25px;
    border-radius: 5px;
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
}

.btn-primary:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: #e67e00;
}

.header{
    width: 100%;
    background-color: rgba(255, 144, 14, 0.1);
    padding: 20px 0;
}

main > section{
    margin-top: 130px;
}
/* Navigation */
.nav{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    }


.navlist{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-top: 20px;
    
}

.nav ul li {
    list-style: none;
    display: flex;
   
}
.nav ul li a{
     text-decoration: none;
     color: #424242;
     font-size: 18px;
}

/* banner */
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.banner-title h1{
    font-weight: bold;
    font-size: 63px;
}

.banner-content p{
    font-size: 16px;
    margin-bottom: 32px;
}
.banner img{
    margin: 50px 240px 45px 240px;
}

/* Main */

main{
    max-width: 1440px;
    margin: 0 auto;
}

/* Quick section */

.quick{
    display: flex;
    align-items: center;
}

#quick-list{
    font-size: 45px;
    font-weight: 500;
}
#of-our{
    font-size: 45px;
    font-weight: bold;
}
#features{
    color: #FF900E;
    font-weight: bold;
    font-size: 45px;
}

.quick-img{
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}

.quick-img img{
    width: 100%;
    height: auto;
}

.quick-banner-title {
   margin-left: 130px;
   max-width: 530px;
}

/* Media Query */

/* Small device */
@media screen and (max-width:576px) {
    .nav, .navlist ,.quick {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
   .navlist {
    gap: 15px;
    margin: 15px 40px 0 30px;
  }
   .banner img {
    width: 100%;
  }
  .nav h1{
    margin: 0 50px;
  }

  .quick-img{
    grid-template-columns: repeat(1,1fr);
  }
  .quick-banner-title{
     margin: 30px auto 0 auto;
    text-align: center;
  }
}

/* Medium Device */

@media screen and (min-width:576px) and (max-width:992px){
    .quick{
        flex-direction: column;
    }

    .quick-banner-title{
     margin: 50px auto;
    text-align: center;
  }
}
